[submodule "backend"]
	path = backend
	url = https://github.com/UnivapFinApp/backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:UnivapFinApp/frontend.git
[submodule "gateway-api"]
	path = gateway-api
	url = git@github.com:UnivapFinApp/gateway-api.git
[submodule "ia"]
	path = ia
	url = git@github.com:UnivapFinApp/ia.git
