[submodule "backend"]
      path = backend
      url = https://github.com/UnivapFinApp/ia.git

[submodule "frontend"]
      path = frontend
      url = https://github.com/UnivapFinApp/frontend.git


[submodule "gateway-api"]
path = gateway-api
url = https://github.com/UnivapFinApp/gateway-api.git

[submodule "ia"]
path = ia
url = https://github.com/UnivapFinApp/ia.git
